# To Predict CO2 Emissions

In [1]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
cdf=pd.read_csv("CO2 Emissions_Canada.csv")
cdf.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [3]:
df=cdf[['Engine Size(L)','Cylinders','Fuel Consumption Comb (mpg)']]
df.head()

   Engine Size(L)  Cylinders  Fuel Consumption Comb (mpg)
0             2.0          4                           33
1             2.4          4                           29
2             1.5          4                           48
3             3.5          6                           25
4             3.5          6                           27

In [4]:
Y=cdf[['CO2 Emissions(g/km)']]
Y.head()

   CO2 Emissions(g/km)
0                  196
1                  221
2                  136
3                  255
4                  244

In [5]:
from sklearn.linear_model import LinearRegression
regrModel=LinearRegression()
regrModel.fit(df,Y)
regrModel.score(df,Y)

0.8940438922737374

In [6]:
from sklearn.linear_model import Lasso
lassoModel=Lasso()
lassoModel.fit(df,Y)
lassoModel.score(df,Y)

0.8937324944757195

In [7]:
from sklearn.tree import DecisionTreeRegressor
TreeModel=DecisionTreeRegressor()
TreeModel.fit(df,Y)
TreeModel.score(df,Y)

0.9793003998689637

In [10]:
pickle.dump(TreeModel,open('model.pkl','wb'))